@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: 'Inter', sans-serif;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

