body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: 'Inter', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  display: flex;
  width: 80%;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 2px solid black;
  border-top: none;
  margin: auto;
}

.appDivText {
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 6rem;
  justify-content: space-between;
}

.leftText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appDivText .leftText h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #FC6100;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;
}

.buttonContainer button {
  border: none;
  background: none;
  padding-right: 4rem;
}

.rightText {
  display: flex;
  flex-direction: column;    
}

.rightText h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: right;
  margin-bottom: 1rem;
}

.rightText h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: right;
  margin-bottom: 4rem;
}

.rightText h4 {
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
}

.appDiv {
  border: 6px solid orange;
  padding-bottom: 6rem;
}