@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: 'Inter', sans-serif;
  background-color: rgb(126, 236, 255);
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.appDivText {
  width: 75%;
  display: flex;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.leftText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appDivText .leftText h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #FC6100;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;
}

.buttonContainer button {
  border: none;
  background: none;
  padding-right: 4rem;
}

.rightText {
  display: flex;
  flex-direction: column;    
}

.rightText h1 {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: right;
  margin-bottom: 1rem;
}

.rightText h2 {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: right;
  margin-bottom: 2rem;
}

.rightText h4 {
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
}


