canvas {
    display: flex;
    width: 80%;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 4px solid orange;
    border-top: none;
    margin: auto;
    margin-bottom: 0;
    padding-top: 1rem;
}
