@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Fugaz+One&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: #FC6100;
    padding-top: 5px;
}

.headerContent {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 95%;
    align-items: center;
    justify-content: space-between;
}



.headerLeft {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

.headerLogo {
    height: 80%;
    width: auto;
    padding-left: 4rem;
}

.headerProfilePic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: auto;
    padding-right: 4rem;
}

.headerLeft h2 {
    color: rgb(245, 245, 245);
    font-family: 'Fugaz One', cursive;
    align-self: center;
    padding-top: 10px;
}